.container{
    width: 65%;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;

}

.chess-board{
    width: 75%;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(8, 0.5fr);
    grid-gap: 0px;
    grid-template-rows: repeat(8 , 0.5fr);
    border: 5px solid #333;
}

.white {
    background-color: rgb(230, 216, 199) ;

}
.black {
    background-color: rgb(12, 67, 81);
}



.node{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    user-select: none; 
    position: relative;

}
.white-pieces{
    color: white;
}
.dragging {
    opacity: 0.5; 
}